
.tree-item{
    position: absolute;
}
.tree-node{
    padding: 0px 0px 4px;
}
.tree-switcher-icon{
    cursor: pointer;
    width: 1em;
    display: inline-block;
    text-align: center;
}
.tree-node .tree-switcher-icon  .tree-node_colse svg{
    transform: rotate(-90deg);
}
.tree-node .tree-switcher-icon svg{
    transition: transform .3s;
    font-size: 12px;
}